// Source: https://www.schemecolor.com/valentine-vacation.php
$prim-light: #F9F6F6;       //Cultured
$prim-neutral: #ACE5E6;     //Powder blue
$prim-dark:#5ACADB;         //Sea Serpent
$sec-light: #C62E12;        //Sinopia
$sec-neutral: #AF0401;      //Mordant Red 19
$sec-dark: #9C0401;         //Crimson Red
$background-white:#ffff;    //Pure white
$text-colour:#0000;          //Pure black
$prim-dark:#000000;